#garden {
  background-image: url("./resources/images/garden.png");
  background-size: contain;
  width: 537px;
  height: 490px;
}

.anim {
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  animation-timing-function: linear;
}

@keyframes slidein {
  0% {
    left: 20px;
    /*     width: 300%; */
    transform: scaleX(1);
  }

  50% {
    left: 100px;
    transform: scaleX(1);
  }
  51% {
    left: 100px;
    transform: scaleX(-1);
  }

  99% {
    left: 20px;
    transform: scaleX(-1);
  }

  100% {
    left: 20px;
    transform: scaleX(1);
  }
}

/*----------------ROLLING ANIMATION------------------*/
/*
.anim {
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}

@keyframes slidein {
  0% {
    left: 20px;
    transform: rotateZ(0deg);
  }


  100% {
    left: 400px;
    transform: rotateZ(1000deg);
  }
}

*/

#chao {
  background-image: url("./resources/images/egg-idle.gif");
}

.egg {
  background-repeat: no-repeat;
  position: absolute;
  width: 64px;
  background-size: contain;
  height: 150px;
  left: 287px;
  top: 289px;
}

.idle {
  background-repeat: no-repeat;
  position: absolute;
  width: 45px;
  background-size: contain;
  height: 67px;
  left: 295px;
  top: 367px;
}
